{% extends 'base.html.twig' %}

{% block title %}Vinyl{% endblock %}

{% block body %}
    <h1>Vinyl</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ vinyl.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ vinyl.title }}</td>
            </tr>
            <tr>
                <th>Artist</th>
                <td>{{ vinyl.artist }}</td>
            </tr>
            <tr>
                <th>Year</th>
                <td>{{ vinyl.year }}</td>
            </tr>
            <tr>
                <th>Genre</th>
                <td>{{ vinyl.genre }}</td>
            </tr>
            <tr>
                <th>Cover</th>
                <td>{{ vinyl.cover }}</td>
            </tr>
            <tr>
                <th>State</th>
                <td>{{ vinyl.state }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('vinyl_index') }}">back to list</a>

    <a href="{{ path('vinyl_edit', {'id': vinyl.id}) }}">edit</a>

    {{ include('vinyl/_delete_form.html.twig') }}
{% endblock %}
